
@{
    ViewBag.Title = "Front End";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container margin bottom large">
  <div class="ui grid">

    <div class="row divided horizontal stackable">
      
      <div class="twelve wide column">

          <form class="ui form formContact">
            <h4 class="ui dividing header center">Entre em Contato</h4>

            <div class="two fields">
              <div class="field">
                <label><i class="user icon"></i>Nome</label>
                <div class="field">
                  <input type="text" name="nome" id="input_name" placeholder="Informe Seu Nome" required>
                </div>
              </div>
              <div class="field">
                <label><i class="mail icon"></i>E-mail</label>
                <div class="field">
                  <input type="email" name="email" id="input_email" placeholder="Informe Seu E-mail" required>
                </div>
              </div>
            </div>

            <div class="two fields">
              <div class="field">
                <label><i class="phone icon"></i>Telefone</label>
                <div class="field">
                  <input type="tel" class="mask_phone" id="input_tel" name="tel" placeholder="(00) 0000-0000" required>
                </div>
              </div>
              <div class="field">
                <label><i class="mail icon"></i>Assunto</label>
                <div class="field">
                  <input type="text" name="assunto" id="input_assunto" placeholder="Informe o Assunto" required>
                </div>
              </div>
            </div>

            <div class="field">
              <label>Mensagem</label>
              <textarea rows="2" name="mensagem" id="input_mensagem" placeholder="Escreva uma mensagem" required></textarea>
            </div>

            <input type="hidden" name="chave" id="input_chave" value="" >

            <button class="ui button primary " type="submit"><i class="save icon"></i>Salvar </button>
          </form>

          <div class="lista_itens">

            <div class="ui divider"></div>

            <h4>Veja abaixo os dados salvo</h4>

            <div class="ui message" id="showMessage">
              <div class="header">
                Ops!
              </div>
              <p>Você ainda não possui dados salvo.</p>
            </div>

            <table class="ui celled table">
            </table>
            
          </div>

      </div>

      <div class="four wide column">

          <div>
              <p>Dados do Formulário</p>
              <p>Nome: <span class="inputName"></span></p>
              <p>E-mail: <span class="inputEmail"></span></p>
              <p>Telefone: <span class="inputTel"></span></p>
              <p>Assunto: <span class="inputAssunto"></span></p>
              <p>Mensagem: <span class="inputMensagem"></span></p>
          </div>          

      </div>

    </div>
 
  </div>
</div>